.card {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease-in-out;  
  
    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
    }
  }
  
  .cardHead {
    border-bottom: 1px solid #e8e8e8;
    padding: 0 1.8rem;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .cardHeadTitle {
    padding: 1.1rem 0;
    font-weight: 500;
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
  }
  
  .cardBody {
    padding: 1.2rem 1.8rem;
    border-radius: 2px 2px 0 0;
  }
  
  .noBorderCard {
    border: none;
  }
  
  .topRightBtn {
    display: flex;
    align-items: center;
  }
  