@import "https://fonts.cdnfonts.com/css/poppins";

$primary-background-color: rgb(60 60 60);
$primary-background-color-hover-and-focus: rgb(100 100 100);
$primary-background-color-active: rgb(38 25 49);
$primary-border-color: rgb(20 20 20);
$primary-border-color-hover-and-focus: rgb(35 10 35);
$primary-border-color-active: rgb(0 0 0);
$primary-text-color: rgb(235 235 235);
$font-family: "Poppins", sans-serif;
$primary-box-shadow: rgb(56 20 56);
$secondary-text-color: rgb(60, 60, 60);
$secondary-text-color-hover-and-focus: rgb(38 25 49);
$secondary-border-color-hover-and-focus: rgb(38 25 49);
$secondary-background-color-hover-and-focus: rgb(210 210 210);
$secondary-background-color-active: rgb(177, 154, 183);
$secondary-background-color: transparent;
