.container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  span {
    animation-name: ripple;
    border-radius: 100%;
    opacity: 0.75;
    position: absolute;
    transform: scale(0);
  }

  @keyframes ripple {
    to {
      opacity: 0;
      transform: scale(2);
    }
  }
}
