@use "../utility/globals";

.selectOptionsMenu {
  background-color: globals.$primary-background-color;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin-top: 2px;
  padding: 4px 0;
  position: absolute;
  width: 142px;
  z-index: 1;
}
